// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// BASE VARIABLES
// base.scss v1 | ~ github.com/amyamytron | ~ amytron.com | @amytron

// FONT SIZES
// SPACING

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// FONT SIZES

$base-font-size: 16px; 
$base-line-height: 24px; 

// SPACING

$small-space: 10px;
$base-space: 24px;
