
// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
// THEMES – PROTOTYPE
// _prototype.scss v1 | ~ github.com/amyamytron | ~ amytron.com | @amytron

// –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

// COLOURS

$body-font-colour: #000000;
$body-highlight-colour: #000000;
$body-highlight-colour-two: #ffffff;

$body-bg: #ffffff;
$light-bg: #989898;
$lighter-bg: #aaaaaa;
$lightest-bg: #eeeeee;
$dark-bg: #454545;
$darker-bg: #656565 ;
$darkest-bg: #858585;

$border-colour: $body-highlight-colour-two;


// FONTS

$body-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$title-font: Arial, "Helvetica Neue", Helvetica, sans-serif;
$link-colour: $body-highlight-colour;

$base-font-size: 14px;
$base-line-height: 24px;


// ELEMENTS

.box--padded{
 padding: 20px;
 @include box-sizing(border-box);
}

.box--border{
 border: 1px solid $border-colour;}
 

// STYLES

.dark{
 background: $dark-bg;} 

.darker{
 background: $darker-bg;}

.darkest{
 background: $darkest-bg;}

.light{
 background: $light-bg;}

.lighter{}

.lightest{}


// GLOBAL


html, body{
 font-size: $base-font-size;}

body{
 font-size: $body-font-colour;
 line-height: $base-line-height;
 color: $body-font-colour;
 font-family: $body-font;
 font-weight: normal;
 background: $body-bg;}

p{
 font-size: $base-font-size - 2px;} // 14px

// LINKS

$normal: $body-highlight-colour;
$active: $body-highlight-colour;
$hover: $body-highlight-colour;
$focus: $body-highlight-colour;
$visited: $body-highlight-colour;

a{
 color: $normal;
 text-decoration: none;}

a:hover{
 color: $hover;
 text-decoration: underline;}

a:active{
 color: $active;}

a:focus{
 color: $focus;}

a:visited{
 color: $visited;}